<%= form_for(@attendee) do |f| %>
<fieldset>
<legend>Attend: <%= @attendee.event_name %></legend>
  <% if @attendee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

      <ul>
      <% @attendee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	
	<div class='clearfix'>
		<%= f.label 'Email'%>
		<div class='input'>
     		<%= f.text_field :email %>
		</div>
	</div>
	<div class="clearfix">
    	<label id="is_speaking">Speaking?</label>
        <div class="input">
          <ul class="inputs-list">
            <li>
              <label>
               <%= f.check_box :is_speaker  %>
              </label>
            </li>
          </ul>
        </div>
      </div>

  
	<div class='clearfix'>
		<%= f.label 'Ticket'%>
		<div class='input'>
    		<%= f.select :ticket_status , Attendee::TICKET_STATUS  %><br />
		</div>
  	</div>
 	
	<div class='clearfix'>
		<%= f.label 'Approval'%>
		<div class='input'>
    		<%= f.select :approval_status , Attendee::APPROVAL_STATUS  %>
		</div>
	</div>

	<div class='clearfix'>
		<%= f.label 'Shirt size'%>
		<div class='input'>
    		<%= f.select :shirt_size ,  Attendee::SHIRT_SIZE  %>
		</div>
	</div>
	<div style='display:none'>
    	<%= f.text_field :event_id %>
	</div>
	<div class='actions'>
  	<%= link_to 'Cancel', attendees_path %>
	<input id="attendee_submit" name="commit" type="submit" value="Confirm" , class="btn primary">

	</div>

<% end %>
