
<%= form_for(@event) do |f| %>
<fieldset>
<legend>Create Event</legend>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


	<div class='clearfix'>
    	<%= f.label :name %>
		<div class='input'>
    		<%= f.text_field :name %>
 		</div>
	</div>
	
	<div class='clearfix'>
    	<%= f.label :website %>
		<div class='input'>
    		<%= f.text_field :website %>
		</div>
	</div>
	
	<div class='clearfix'>
    	<%= f.label :cost %>
		<div class='input'>
    		<%= f.text_field :cost %>
		</div>
	</div>
	
	<div class='clearfix'>
    	<%= f.label "Call for Papers" %>
		<div class='input'>
			<div class='inline-inputs'>		
    		<%= f.date_select( :cfp_start , {},  { :class => 'small'} )%>
			 until  
			<%= f.date_select :cfp_end  , {},  { :class => 'small'} %>
 			</div>
		</div>
	</div>

  
  	<div class='clearfix'>
    	<%= f.label 'Ticket Sales'%>
		<div class='input'>
			<div class='inline-inputs'>
    			<%= f.date_select :ticket_sales_start  , {},  { :class => 'small'}  %>
 				until
    			<%= f.date_select :ticket_sales_end  , {},  { :class => 'small'}  %>
			</div>
		</div>
	</div>
	
	<div class='clearfix'>
    	<%= f.label :event_start %>
   		<div class='input'>
			<div class='inline-inputs'>
 				<%= f.date_select :event_start  , {},  { :class => 'small'}  %>
				until
				<%= f.date_select :event_end   , {},  { :class => 'small'} %>
			</div>
		</div>
	</div>
  	<div class='actions'>
		
		<%= link_to 'Cancel', events_path %>
		<input id="event_submit" name="commit" type="submit" value="Create" , class="btn primary">
	</div>
 </fieldset>   

<% end %>
