<div class='row'>

<div class="span6 columns">
	<h3>Upcoming Events</h3>  
</div>
<% if can_manage? %>
	<div class="span4 columns offset6 right-text" >
		<%= link_to 'New Event', new_event_path , :class => 'btn primary'%>
	</div>
<% end %>



<div id='event_list' >
	<table class="common-table zebra-striped">
		<% @events.each do |event| %>
		  <tr>
		    <td><%= link_to event.name , event %></td>
		    <td><%= event.event_start.strftime( '%b %e') %> - <%= event.event_end.strftime( '%b %e') %></td>
			<td style='text-align:right;'>
				<%= link_to 'Attend' , new_attendee_path( :event_id => event.id ) , :class => 'btn'%>
				<% if current_user and current_user.admin? %>
					<%= link_to 'Manage' , edit_event_path( event ) , :class => 'btn'%>
				<% end%>
			</td>
		  </tr>
		<% end %>
	</table>
</div>



