<p id="notice"><%= notice %></p>


<div class='row'>
	 <div class="span6 columns">
		<h2> <%= @event.name  %></h2>  
		 <%= link_to @event.website , 'http://' + @event.website %>
	</div>
	<div class="span4 columns offset6 right-text">
		<h3><%= @event.event_start.strftime( '%b %e') %> - <%= @event.event_end.strftime( '%b %e') %></h3>
	</div>
</div>
 
<div class='row' style='margin-top:20px; margin-bottom:20px'>
	<div class="span5 columns">
  		<h3>Call for papers</h3>
  		<%= @event.cfp_start.strftime( '%b %e') %> - <%= @event.cfp_end.strftime( '%b %e') %>
	</div>
	<div class="span5 columns">
		<h3>	Ticket sales </h3>
  		<%= @event.event_start.strftime( '%b %e') %> - <%= @event.event_end.strftime( '%b %e') %>
	</div>
	
	<div class="span6 columns right-text" >
		<%= link_to 'Cancel', events_path %>
		<%= link_to 'Attend' , new_attendee_path( :event_id => @event.id ) , :class => 'btn primary'%>
		<% if can_manage? %>
			<%= link_to 'Remove', @event, :confirm => 'Are you sure?', :method => :delete  , :class => 'btn'%>
		<% end %>
		<% if @event.cost %>
			<br/>
			<span class='help-inline'> Cost:<%= number_to_currency(@event.cost) %></span>
		<% end %>
	</div>

</div>

<div class='admin' style='display:none'>
<%= link_to 'Edit', edit_event_path(@event) %> 
</div>

<table class="common-table zebra-striped">
	<tr>
		<th> Email </th>
		<th> Speaker </th>
		<th> Ticket Status </th>
		<th> Approval </th>
		<th> Shirt Size </th>
		<% if can_manage? %>
			<th> </th>
		<% end %>
	</tr>
	
	<% @event.attendees.each do |at| %>	
		<tr>
			<td> <%= at.email %> </td>
			<td> <%=  at.is_speaker ? 'X' : '' %> </td>
			<td> <%= at.ticket_status %> </td>
			<td> <%= at.approval_status %> </td>
			<td> <%= at.shirt_size %> </td>
			<% if can_manage? %>
				<td> <%= link_to 'Manage' ,edit_attendee_path(at) , :class => 'btn' %></td>
			<% end %>
		</tr>
	<% end %>
	
	
</table>
